/* font link  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* common style  */
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;

}

/* common style for all section  */
.container {
    width: 85%;
    margin: 0 auto;
}

/* first section style start  */
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #93681fad;
    padding: 40px 50px 40px 50px;
    margin-top: 50px;
    border-radius: 30px;
}

.header-section-left {
    width: 45%;
}

.header-section-left h1 {
    font-size: 3.5em;
    margin-bottom: 0;
    color: white;
}

.header-section-left p {
    color: rgba(248, 239, 239, 0.842);
}

.btn {
    font-size: 1.1em;
    border: none;
    background-color: blue;
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: green;
    color: white;
    transition: 0.5s;
}

.btn i {
    font-size: 0.8em;
}

.header-section-right {
    width: 45%;
}

.header-section-right img {
    width: 100%;
}

/* second section style start  */
.second-section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.left-sidebar {
    width: 20%;
    background-color: aquamarine;
    height: 230px;
    text-align: center;
    padding: 0 20px;
    border-radius: 10px;
}

.left-sidebar h1 {
    background-color: #fff;
    padding: 10px 5px;
    border-radius: 10px;
}

#blog {
    background-color: lightcoral;
}

.cards {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    box-shadow: 0 0 10px gray;
    padding: 10px;
    border-radius: 5px;
}

.card-btn {
    margin-top: 15px;
    margin-left: 10px;
    padding: 6px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.card img {
    width: 100%;
}

.time {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: gray;
    text-align: center;
    padding: 60px 0 30px 0;
}

.policy {
    display: flex;
    justify-content: space-evenly;
}

.social {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.social a {
    color: black;

}

.social i {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.5em;
}










/* resonsive for mobile device  */
@media screen and (max-width:576px) {
    .header-section {
        flex-direction: column;
    }

    .second-section {
        flex-direction: column;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* responsive for tablet  */
@media screen and (min-width:577px) and (max-width: 992px) {
    .header-section-left h1 {
        font-size: 2em;
    }

    .second-section {
        flex-direction: column;
        align-items: center;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}