/* font link  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* common style  */
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;

}

/* common style for all section  */
.container {
    width: 85%;
    margin: 0 auto;
}

/* first section style start  */
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #50bdc6;
    padding: 40px 50px 0px 50px;
    margin-top: 50px;
    border-radius: 30px;
}

.header-section-left {
    width: 45%;
}

.header-section-left h1 {
    font-size: 3.5em;
    margin-bottom: 0;
    color: white;
}

.header-section-left p {
    color: rgba(248, 239, 239, 0.938);
}

.btn {
    font-size: 1.1em;
    border: none;
    background-color: rgba(0, 0, 0, 0.685);
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 30px;
    font-weight: bold;
    transition: 0.8s;
}

.btn:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.685);

}

.btn i {
    font-size: 0.8em;
}

.header-section-right {
    width: 45%;
}

.header-section-right img {
    width: 100%;
}

/* second section style start  */
.second-section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.left-sidebar {
    width: 20%;
    background-color: #1f2c3f;
    height: 230px;
    text-align: center;
    padding: 0 20px;
    border-radius: 10px;
}

.left-sidebar a {
    text-decoration: none;
    color: black;
    width: 30%;
}

.left-sidebar h1 {
    background-color: #fff;
    padding: 10px 5px;
    border-radius: 10px;
}

#blog {
    background-color: #50bdc6;
    color: #fff;
}

.cards {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    box-shadow: 0 0 10px gray;
    padding: 10px;
    border-radius: 5px;
}

.card-btn {
    margin-top: 15px;
    margin-left: 10px;
    padding: 6px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.card img {
    width: 100%;
}

.time {
    display: flex;
    justify-content: space-around;
}

.view-button {
    display: none;

}

.view-all-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.685);
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin-bottom: 50px;
}

/* footer section style start  */
footer {
    background-color: #556784;
    color: rgba(255, 255, 255, 0.89);
    text-align: center;
    padding: 60px 0 30px 0;
}

.policy {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.social {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.social a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.89);
}

.social i {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.5em;
}

/* resonsive for mobile device  */
@media screen and (max-width:576px) {
    .header-section {
        flex-direction: column;
        text-align: center;
        padding: 0;
        font-size: 0.5em;
    }

    .second-section {
        flex-direction: column;
        align-items: center;
    }

    .left-sidebar {
        width: auto;
        margin-bottom: 30px;
        background-color: white;

    }

    .left-sidebar h1 {
        border: 1px solid rgba(128, 128, 128, 0.651);
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .view-button {
        display: none;
    }

    .policy {
        flex-direction: column;
        align-items: center;
    }

}

/* responsive for tablet  */
@media screen and (min-width:577px) and (max-width: 992px) {
    .header-section-left h1 {
        font-size: 2em;
    }

    .second-section {
        flex-direction: column;
        align-items: center;
    }

    .left-sidebar {
        display: flex;
        justify-content: space-between;
        height: auto;
        width: 70%;
        background-color: white;
        margin-bottom: 20px;
    }

    .left-sidebar h1 {
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .view-button {
        display: flex;
        justify-content: center;
    }
}